* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', "FontAwesome", sans-serif;
}

:focus { outline: none; }

img {
  border-radius: 50%;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(#239588 0%, #239588 20%, #DDDBD5 0%);
  height: 100vh;
}

#app {
  display: flex;
  width: 80%;
  height: 90%;
  background-color: white;
}
/* sezione utente e contatti */
.sidebar-contact {
  width: 40%;
  border-right: 1px solid lightgray;
}

.contact {
  display:flex;
  flex-direction: column;
  height: 90%;
}

.notify-option {
  display: flex;
  align-items: center;
  height: 10%;
  border-bottom: 1px solid lightgray;
  background-color: #90D9FD;
}

.bell {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
}

.fas.fa-bell-slash {
  border-radius: 50%;
  padding: 10px;
  background-color: white;
  color: #90D9FD;
  font-size: 150%;
}


.notify {
  width: 80%;
}

.notify h6 {
  color: #76A5B3;
  text-decoration: underline;
}

.search-contact {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10%;
  background-color: #EBE9EB;
}

.search-contact input {
  width: 95%;
  height: 80%;
  border: 1px solid white;
  border-radius: 5px;
  padding: 0 10px;
}




.contact-list {
  display: flex;
  flex-direction: column;
  height: 80%;
  overflow-y: scroll;
}

.single-contact {
  display: flex;
  width: 100%;
  border-bottom: 1px solid lightgray;
  cursor: pointer;
}

.single-contact:hover {
  background-color: #EBE9EB;
}

.contact-container {
  width: 60%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 5px 20px;
}

.contact-container li {
  list-style: none;
}

.contact-container h6 {
  color: #76A5B3;
  text-overflow: ellipsis;
}

.data-last-message {
  display: flex;
  justify-content: flex-end;
  width: 40%;
  padding: 5px;
}

.contact-img {
  width: 20%;
  margin-right: 20px;
}

.user-nav , .message-nav {
  height: 10%;
  width: 100%;
  background-color: #EBE9EB;
}

.user-container {
  width: 60%;
  display: flex;
  align-items: center;
}

.user-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.user-nav h4 {
  cursor: pointer;
}

#user-img {
  width: 20%;
  margin-right: 20px;
}

#user-img:hover {
  cursor: pointer;
}


.user-nav li , .search-chat li {
  list-style: none;
  display: inline-block;
  padding: 0 10px;
  font-size: 20px;
  color: #BCBBBF;
}
.user-nav li:hover , .search-chat li:hover {
  cursor: pointer;
  color: gray;
  transition: 0.5s;
}
/* /sezione utente e contatti */
/* sezione messaggi chat */
.main-message {
  width: 60%;
}

.message-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contact-selected {
  display: flex;
  align-items: center;
  width: 80%;
  margin-left: 20px;
}

.contact-selected img {
  width: 45px;
}

.contact-selected li {
  list-style: none;
  margin-left: 10px;

}

.search-chat {
  display: flex;
  justify-content: flex-end;
  width: 20%;
}


.chat {
  display: flex;
  flex-direction: column;
  height: 80%;
  width: 100%;
  background-image: url(https://user-images.githubusercontent.com/15075759/28719144-86dc0f70-73b1-11e7-911d-60d70fcded21.png);
  background-size: contain;
  overflow-y: scroll;
  overflow-x: hidden;
  padding-bottom: 100px;
}

.message-block{
  margin: 10px;
  width: 100%;
}

.fas.fa-chevron-down {
  cursor: pointer;
  color: #BCBBBF;
  padding: 3px;
}

.fas.fa-chevron-down:hover {
  color: gray;
}


.message {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 50px;
  padding: 10px;
  width: 40%;
  height: 100%;
  border-radius: 10px;
}
.menu {
  position: absolute;
  top: 20px;
  right: 5px;
  width: 60%;
  border-radius: 5px;
  background-color: #ebe9eb;
;
  z-index: 3;
  box-shadow: 0 0 3px #ccc;
}
.menu li {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  font-size: 10px;
  padding: 10px 0;
  width: 100%;
  cursor: default;
}
.menu li a {
  text-decoration: none;
  font-size: 14px;
  color:black;
}

.menu li:last-child:hover {
  background-color: lightgray;
  cursor: pointer;
}

.show {
  display: inline-block;
}

.message.sent {
  float: right;
  background-color: #B9F3B9;

}
.message.received {
  float: left;
  background-color: #EBE9EB;
}

.message p {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 10px;
  margin-bottom: 5px;

}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}



.input-area {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10%;
  width: 100%;
  background-color: #EBE9EB;
  font-size: 20px;
  color: #BCBBBF;
}

.input-area i:hover {
  cursor: pointer;
  color: gray;
  transition: 0.5s;
}

.input-area input {
  width: 70%;
  height: 60%;
  border: none;
  border-radius: 20px;
  padding: 10px;
  margin: 0 50px;
}

/* /sezione messaggi chat */
