<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <!-- link fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet">
    <!-- link al css -->
    <link rel="stylesheet" href="css/style.css">
    <!-- vue.js  -->
     <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
     <script src="https://cdn.jsdelivr.net/npm/vue-chat-scroll/dist/vue-chat-scroll.min.js"></script>
     <!-- data e ora -->
    <script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>
    </script>
    <title>boolzapp</title>
  </head>
  <body>
    <div id="app">
      <div class="sidebar-contact">
        <div class="user-nav">
          <div class="user-container">
            <img id="user-img" src="https://cdn.iconscout.com/icon/premium/png-64-thumb/avatar-1641437-1392919.png" alt="user photo">
            <h4>Luca</h4>
          </div>
          <ul>
            <li><i class="fas fa-circle-notch"></i></li>
            <li><i class="fas fa-comment-alt"></i></li>
            <li><i class="fas fa-ellipsis-v"></i></li>
          </ul>
        </div>

        <div class="contact">
          <div class="notify-option">
            <div class="bell">
              <i class="fas fa-bell-slash"></i>
            </div>
            <div class="notify">
              <h4>Ricevi notifiche di nuovi messaggi</h4>
              <h6>Attiva notifiche desktop</h6>
            </div>
          </div>
          <div class="search-contact">
            <input type="text"
            name=""
            value=""
            v-model="inputFieldRubrica"
            placeholder="&#xF002; Cerca o inizia una nuova chat" style="font-family:Arial, FontAwesome"
            v-on:keyup="rubrica()">
          </div>

          <div class="contact-list">
            <div v-for="(contact,index) in contacts">
              <div v-if="contact.visible" @click="indexSelector(index)"
              :class="objectIndex == index ? 'active' : ''" class="single-contact">
                <div class="contact-container">
                  <img class="contact-img"  :src="contact.avatar">
                  <ul>
                    <li><h4>{{contact.name}}</h4> </li>
                    <li>
                      <h6>{{contact.messages[contact.messages.length-1].text}}</h6>
                    </li>
                  </ul>
                </div>
                <div class="data-last-message">
                  <h6>{{contact.messages[contact.messages.length-1].date}}</h6>
                </div>
              </div>
            </div>


          </div>
        </div>
      </div>


      <div class="main-message">
        <div class="message-nav">

          <div v-for="(contact, index) in contacts" class="contact-selected" v-if="objectIndex == index" >
                <img :src="contact.avatar">
                <ul>
                  <li><h4>{{contact.name}}</h4></li>
                  <li v-if="activeBot == false"><h6>Ultimo accesso oggi alle {{contact.messages[contact.messages.length-1].date}}</h6>
                  </li>
                  <li v-if="activeBot == true">
                    <h6 >{{contact.typing}}</h6>
                  </li>
                </ul>

          </div>

          <div class="search-chat">
            <ul>
              <li><i class="fas fa-search"></i></li>
              <li><i class="fas fa-paperclip"></i></li>
              <li><i class="fas fa-ellipsis-v"></i></li>
            </ul>
          </div>
        </div>
        <div class="chat" v-chat-scroll>
          <template v-if="contacts[objectIndex].messages.length > 0">
          <div
          v-for="(key,index) in contacts[objectIndex].messages"
          class="message-block clearfix">

            <div v-if="key.text != ''"class="message" :class="key.status == 'sent' ? 'sent' : 'received'">
              <h5 v-if="key.text != ''">{{key.text}}</h5>

              <p><a @click="key.activeClass = !key.activeClass" href="#"><i class="fas fa-chevron-down"></i></a></p>
              <div class="menu"  v-show="key.activeClass" @mouseleave="key.activeClass = false">
                <ul>
                  <li>{{key.date}}</li>
                  <li><a @click="deleteMessage(index)" href="#">Elimina messaggio</a></li>
                </ul>
              </div>
            </div>
          </div>
          </template>
        </div>

        <div class="input-area">
          <i class="far fa-smile"></i>
          <input
          type="text"
          name=""
          value=""
          v-model="inputMessage"
          v-on:keydown.enter="addMessage()"
          placeholder="Scrivi un messaggio">
          <i class="fas fa-microphone"></i>
        </div>

      </div>

    </div>





   <script src="js/script.js" charset="utf-8"></script>
  </body>
</html>
